@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-2">
    <h2 class="display-4">Welcome to Evolent Health Contact Directory. Please click <strong><span style="color:darkgreen">Contact List</span></strong> menu link to view contact(s).</h2>
    
</div>
