@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mb-2">
    <h2 class="display-4">Welcome to Evolent Health Contact Directory. Please click <strong>Contact List</strong> Menu Link to view contacts.</h2>
    
</div>
